body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.root {
    width: 100vw;
    height: 100vh;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.invalid-feedback {
    display: none;
}
